<div class="card border-primary mb-3" >
    <div class="card-header">Clientes <button type="button" class="btn btn-dark" [routerLink]="['/empresas/form/']" routerLinkActive="router-link-active">Agregar Empresa</button> </div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Raz&oacute;n social</th>
                    <th>Giro</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empresa of empresas">
                    <td>{{empresa.idText}}</td>
                    <td>{{empresa.nombreRazonSocial}}</td>
                    <td>{{empresa.giroComercial}}</td>
                    <td>{{empresa.cargo}}</td>
                    <td><button class="btn btn-primary btn-sm" [routerLink]="['/empresas/form',empresa.id]" routerLinkActive="router-link-active" >Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="delete(empresa)">Eliminar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
